<!DOCTYPE html>
<html>
  <head>
    <title>PocketTimeline</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'hello_vue' %>
    <%= stylesheet_pack_tag 'hello_vue' %>

    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="952635847674-ocr6762iqhjkvtb988fclnfs4trr6qqr.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>

  <body>

    <div class="container">

      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <h3>Pocket Timeline</h3>
          </a>

          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="auth-menu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div class="navbar-menu" id="auth-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <% if signed_in? %>
                  <span class="button">Signed in as <%= current_user.name %></span>
                  <%= link_to 'Sign out', '/auth/signout', class: 'button is-light' %>
                <% else %>
                  <%= link_to 'Sign in', '/auth/google_oauth2', class: "button is-primary" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </nav>

      <%= yield %>
    </div>
  </body>
</html>
