<!DOCTYPE html>
<html>
  <head>
    <title>PocketTimeline</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'hello_vue' %>
    <%= stylesheet_pack_tag 'hello_vue' %>

    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="952635847674-ocr6762iqhjkvtb988fclnfs4trr6qqr.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
